<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% set generatedDescription = content | metaDescription %}
    <title>{{ title }}</title>
    <meta name="title" content="{{ title }}">
    <meta name="description" content="{{ description or generatedDescription }}">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://ponnekanti.net/">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description or generatedDescription }}">
    <meta property="og:image" content="https://ponnekanti.net/web-app-manifest-512x512.png">

    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="alternate" type="application/atom+xml" title="RSS" href="https://ponnekanti.net/feed.xml">
    <link rel="preload" href="/eb-garamond-v30-latin-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/eb-garamond-v30-latin-italic.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/eb-garamond-v30-latin-700.woff2" as="font" type="font/woff2" crossorigin="anonymous">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/" class="{% if page.url == '/' %}active{% endif %}">Blog</a></li>
            <li><a href="/about" class="{% if page.url == '/about/' %}active{% endif %}">About</a></li>
            <li><a href="/bookshelf" class="{% if page.url == '/bookshelf/' %}active{% endif %}">Bookshelf</a></li>
            <li><a href="/subscribe" class="{% if page.url == '/subscribe/' %}active{% endif %}">Subscribe</a></li>
        </ul>
        <hr>
    </nav>
    {{ content | safe }}
</body>
</html>