---
title: Manav Ponnekanti's Blog
layout: page.njk
description: "And now I see with eye serene / The very pulse of the machine;"
---
<main>
    {% for year, posts in collections.posts | groupby("data.year") | dictsort | reverse %}
    <h2>{{ year }}</h2>
    <div class="year-container">
        {% for post in posts | reverse %}
        <div class="post-container">
            <div class="post-date">{{ post.date | date("dd/MM") }}</div>
            <div class="post-title"><a href="{{ post.url }}">{{ post.data.title }}</a></div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</main>
