---
title: Manav Ponnekanti
layout: page.njk
description: "And now I see with eye serene / The very pulse of the machine;"
---
<main>
    <p>Subscribe to new posts by email via <a href="https://feedrabbit.com/signup?return_url=%2Fsubscriptions%2Fnew%3Furl%3Dhttps%253A%252F%252Fponnekanti.net%252Ffeed.xml">FeedRabbit</a>, or subscribe via <a href="/feed.xml">RSS</a>.</p>

    {% for year, posts in collections.posts | groupby("data.year") | dictsort | reverse %}
    <h2>{{ year }}</h2>
    <div class="year-container">
        {% for post in posts | reverse %}
        <div class="post-container">
            <div class="post-date">{{ post.date | date("dd/MM") }}</div>
            <div class="post-title"><a href="{{ post.url }}">{{ post.data.title }}</a></div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</main>
