---
title: Manav Ponnekanti's Blog
layout: page.njk
description: "And now I see with eye serene / The very pulse of the machine;"
---
<main>
    <div class="subscribe-container">
        <p class="subscribe-text">Subscribe for new posts:</p>
        <form class="subscribe-box" action="https://docs.google.com/forms/d/e/1FAIpQLSdjHv8SvZxShkZVvNVEGXf4DRHJZDqcPEqUY7EqBSgOtJGByw/formResponse" method="POST" target="_blank">
        <input type="email" name="entry.950185210" placeholder="Your email address" required>
        <button type="submit">Enter</button>
    </form>
    </div>
    <p class=disclaimer>(Powered by Google Forms)</p>

    {% for year, posts in collections.posts | groupby("data.year") | dictsort | reverse %}
    <h2>{{ year }}</h2>
    <div class="year-container">
        {% for post in posts | reverse %}
        <div class="post-container">
            <div class="post-title"><a href="{{ post.url }}">{{ post.data.title }}</a></div>
            <div class="post-date">{{ post.date | date("dd/MM") }}</div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</main>
